/vendor
composer.lock
/var
symfony.lock
.DS_Store
.idea
.env.local
/reports
/extracts
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
